
BODY {
    cursor: default;
}

TABLE {
    border-spacing: 0;
}

TD {
    border: solid 1px black;
}

.cell {
    background-size: cover;
    display: inline-block;
    width:24px;
    height: 24px;

    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.count1 {
    color: blue;
}

.count2 {
    color: green;
}

.count3 {
    color: darkred;
}

.count4 {
    color: darkblue;
}

.count5 {
    color: darkviolet;
}

.count6 {
    color: blue;
}

.count7 {
    color: blue;
}

.count8 {
    color: blue;
}


.coverred {
    background-image: url('Images/Coverred.png');
}

.uncoverred {
    background-image: url('Images/Uncoverred.png');
}

.exploded {
    background-image: url('Images/MineExploaded.png');
}

.flagged {
    background-image: url('Images/Flagged.png');
}